<navigation></navigation>
  
<body style="background-color: #90AAC3;">
  <div style="margin-top: 20px;" class="container">
    <table class="table table-striped table-bordered table-light">
      <thead>
        <tr>
          <th>Name</th>
          <th>Organizer</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in vm.data.events">
          <td>{{event.name}}</td>
          <td>{{event.organizator}}</td>
          <td>{{event.date}}</td>
          <td>{{event.description}}</td>
        </tr>
      </tbody>
    </table>  
  </div>
  <div class="text-center" id="add button">
  <button type="button" ng-show="vm.isCurrentUserEventManager" class="btn btn-danger btn-lg" ng-click="vm.showEventWindow()">Add Event</button>
  <div role="alert" ng-hide="vm.isCurrentUserEventManager" class="alert alert-danger">You need to have event manager access to be able to modify the events.</div>
</div>