<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="/" style="color: #33568F;">StraightAs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <title>StraightAs</title>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="home" href="/">Home</a>
      </li>
      <li ng-hide="navvm.isLogged" class="nav-item">
        <a class="nav-link" id="login" href="/login">Login</a>
      </li>
      <li ng-hide="navvm.isLogged" class="nav-item">
        <a class="nav-link" id="register" href="/register" >Register</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" id="admin-notifications" href = "/admin-notifications">By admin</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" id="food" href="/food" >Food</a>
      </li>
      <li  class="nav-item" ng-show="navvm.isLogged">
        <a class="nav-link" id="events" href="/events" >Events</a>
      </li>
      <li  class="nav-item" ng-show="navvm.isLogged">
        <a class="nav-link" id="event-manager" href="/event-manager" >Event Manager</a>
      </li>
      <li  class="nav-item" ng-show="navvm.isLogged">
        <a class="nav-link" id="reset" href="/reset" >Change Password</a>
      </li>
      <li class = "nav-item" ng-show="navvm.isLogged">
        <a class="nav-link" id="buses" href = "/buses">Bus info</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      <div class = "col-auto" style = 'color: black;'>
        {{navvm.currentUser.uname}}
      </div>
      <button id="logout" ng-show="navvm.isLogged" class="btn btn-outline-success my-2 my-sm-0" ng-click="navvm.logout()">Log out</button>
    </form>
  </div>
</nav>