<navigation></navigation>
<div>
  <div class="container">
    <div class=" row" style=" display: flex; justify-content: center; align-items: center; ">
      <div class="col-md-4" style="background-color: #E9EEF2; border-radius: 8px; margin-top: 150px">
        <div class=" mt-4">
          <div  style="color: #33568F;">
            <h2 class="card-title mt-2" style="text-align: center">Reset password</h2>
          </div>
          <article class="card-body">
            <form ng-submit="vm.sendReset()" role="form">
              <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
              <div role="alert" ng-show="vm.msg" class="alert alert-success">{{ vm.msg }}</div>
              <div class="form-group">
                <input ng-model="vm.loginData.pword" id="currentPassword" placeholder="Current Password" class="form-control"type="password" maxlength="30">
              </div>
              <div class="form-group">
                <input ng-model="vm.loginData.rpword" id="repeatPassword" placeholder="Repeat Password" class="form-control"type="password" maxlength="30">
              </div>
              <div class="form-group">
                <input ng-model="vm.loginData.npword" id="newPassword" placeholder="New Password" class="form-control"type="password" maxlength="30">
              </div>
              <div class="form-group" id="resetButton">
                <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
