<div class="modal-content">
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class=" w-75" padding="" top="500px">
        <h6 class="display-4">TODO event</h6>
        <hr/>
        <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
        <form class="form-horizontal" role="form">
          <div class="form-group" id="title" id="formAddTODO">
            <label>Title</label>
            <input type="text" id="titleAddTODO"  class="form-control" ng-model="vm.data.title" placeholder="Enter title">
          </div>
          <div class="form-group" id="description">
            <label for="exampleTextarea">Description</label>
            <textarea class="form-control" id="descriptionAddTODO" ng-model="vm.data.desc" rows="3"></textarea>
          </div>
        </form>
        <hr/>
        <div class="row">
          <div class="col-auto" id="addTODOButtonClose" >
            <button ng-click="vm.modalWin.close()" type="button" class="btn btn-secondary ">Close</button>
          </div>
          <div class="col-auto" id="addTODOButtonSave" >
            <button ng-click="vm.sendData()" type="button" class="btn btn-primary ">Save</button>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>