<navigation></navigation>
<div>
  <div class="container">
   <div class=" row" style=" display: flex; justify-content: center; align-items: center; ">
    <div class="col-md-4" style="background-color: #E9EEF2; border-radius: 8px; margin-top: 150px">
      <div class=" mt-4">
        <div  style="color: #33568F;">
          <h2 class="card-title mt-2" style="text-align: center">Registration</h2>
        </div>
        <article class="card-body">
          <form ng-submit="vm.sendRegisterData()" role="form">
            <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
            <div role="alert" ng-show="vm.msg" class="alert alert-success">{{ vm.msg }}</div>
            <div class="form-group" id="Email">
              <input ng-model="vm.regData.uname" placeholder="E-mail" class="form-control" type="email" maxlength="30">
            </div>
            <div class="form-group" id="Password">
              <input ng-model="vm.regData.pword" placeholder="Password" class="form-control"type="password" maxlength="30">
            </div>
            <div class="form-group" id="Repeat Password">
              <input ng-model="vm.regData.cpword" placeholder="Repeat password" class="form-control" type="password" maxlength="30">
            </div>
            <div class="form-group" id="dugme">
              <button class="btn btn-primary btn-block" type="submit"> Register</button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
</div>
