<div class="modal-content">
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class=" w-75" padding="" top="500px">
        <h4 class="display-4">Calendar</h4>
        <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
        <hr/>
        <form class="form-horizontal" role="form">
          <div class="form-group" id="addCalendarEventsName" >
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="addCalendarEventName" ng-model="vm.data.name" placeholder="Enter name">
          </div>
          <div class="form-horizontal" id="addCalendarEventsStart" >
            <label for="nameInput">Start Date</label>
            <input class="form-control" id="addCalendarEventStart" type="date" value="2011-08-19" ng-model="vm.data.start" >
          </div>
          <div class="form-horizontal" id="addCalendarEventsEnd">
            <label for="nameInput">End Date</label>
            <input class="form-control" id="addCalendarEventEnd" type="date" value="2011-08-19"  ng-model="vm.data.end" >
          </div>
        </form>
        <hr/>
        <div class="row">
          <div class="col-auto">
            <button ng-click="vm.modalWin.close()" type="button" class="btn btn-secondary ">Close</button>
          </div>
          <div class="col-auto" id="addCalendarEventSave">
            <button ng-click="vm.sendData()" type="button"  class="btn btn-primary ">Save</button>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>