<navigation></navigation>
  <body style="background-color: #90AAC3;">
    <div class="card-columns">
      <title>{{vm.header.title}}</title>
      
      <style>
      
      .shadow {
          -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
          -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
        }
        .card-img-top{
          height:180px;
          border: 1px solid #ccc;
          box-shadow: 1px 1px 2px #fff inset,
          -1px -1px 2px #fff inset;
          border-radius: 30px; 
        }
        .card {
          margin-top : 25px;
          margin-left : 75px;
          margin-right : 25px;
          border: 1px solid black;
          border-radius : 30px;
          -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
        }
        
      </style>
      
    <div class="card text-center w-75" ng-repeat = "event in vm.data.events">
    <img class="card-img-top w-100" src = "http://via.placeholder.com/235x180" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text">{{event.date}}</p>
      </div>
    </div>
  </div>
  
   
  </body>
</html>