<!DOCTYPE html>
<html ng-app="straightas">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <script src="/angular/angular.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/angular/straightas.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/lib/ui-bootstrap-custom-2.5.0.min.js"></script>
    <script src="/lib/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
    <script src="/lib/angular-sanitize.min.js"></script>
    <link rel="stylesheet" href="/calendar/fullcalendar.min.css"/>
    <script type="text/javascript" src="/calendar/moment.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/food.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
 </head>
  <body ng-view style="background-color: #90AAC3;">
     <navigation></navigation>
    
      <div class="row mt-2 mr-0">
        <div class="col-5 d-inline-block mr-5 ml-5 mt-4" style="color: #33568F; background-color: #E9EEF2; justify-content: center;"> 
          <div class="row">
            <button class="form-control btn-block" id="addCalendarEvent" ng-click="vm.createCalendar()" type="button" style="border: 1px solid; border-color:#33568F">Add Calendar Event</button>
          </div>
          <div class="row">
            <div ui-calendar="calendarOptions" ng-model="vm.eventSources" calendar="myCalendar"></div>
          </div>
          <div class="row">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th style="width: 16.66%" scope="col">#</th>
                  <th style="width: 16.66%" scope="col">Mon</th>
                  <th style="width: 16.66%" scope="col">Tue</th>
                  <th style="width: 16.66%" scope="col">Wen</th>
                  <th style="width: 16.66%" scope="col">Thu</th>
                  <th style="width: 16.66%" scope="col">Fri</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">08:00</th>
                  <td ng-repeat="sub in vm.data.tt[0]" ng-click="vm.createTT(8, sub)" ng-style="{'background-color':sub.colour}" >{{sub.name}}</td>
                </tr>
                <tr>
                  <th scope="row">09:00</th>
                  <td ng-repeat="sub in vm.data.tt[1]" ng-click="vm.createTT(9, sub)" ng-style="{'background-color':sub.colour}">{{sub.name}}</td>
                </tr>
                <tr>
                  <th scope="row">10:00</th>
                  <td ng-repeat="sub in vm.data.tt[2]" ng-click="vm.createTT(10, sub)" ng-style="{'background-color':sub.colour}">{{sub.name}}</td>
                </tr>
                <tr>
                  <th scope="row">11:00</th>
                  <td ng-repeat="sub in vm.data.tt[3]" ng-click="vm.createTT(11, sub)" ng-style="{'background-color':sub.colour}">{{sub.name}}</td>
                </tr>
                <tr>
                  <th scope="row">12:00</th>
                  <td ng-repeat="sub in vm.data.tt[4]" ng-click="vm.createTT(12, sub)" ng-style="{'background-color':sub.colour}">{{sub.name}}</td>
                </tr>
                <tr>
                  <th scope="row">13:00</th>
                  <td ng-repeat="sub in vm.data.tt[5]" ng-click="vm.createTT(13, sub)" ng-style="{'background-color':sub.colour}">{{sub.name}}</td>
                </tr>
                <tr>
                  <th scope="row">14:00</th>
                  <td ng-repeat="sub in vm.data.tt[6]" ng-click="vm.createTT(14, sub)" ng-style="{'background-color':sub.colour}">{{sub.name}}</td>
                </tr>
                <tr>
                  <th scope="row">15:00</th>
                  <td ng-repeat="sub in vm.data.tt[7]" ng-click="vm.createTT(15, sub)" ng-style="{'background-color':sub.colour}">{{sub.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-5 d-inline-block mt-4 ml-5" style=" height:600px; overflow: auto; color: #33568F; background-color: #E9EEF2; justify-content: center;">
          <div class="row mt-2 mb-2 ml-1" >
            <button class="form-control col-1 mr-2" id="addTODO" ng-click="vm.createTodo()" type="button" style="border: 1px solid; border-color:#33568F">+</button>
          </div>
          <hr/>
          <div class="row mt-2">
            <div ng-repeat="el in vm.data.todoList"  class="col-sm-6" >
              <div class="card bg-light mb-3 col-5"   style="max-width: 18rem; border: 1px solid; margin:0; padding:0; border-color:#33568F">
                <div class="card-header">
                  <div class="row">
                    <div class="col">{{el.title}}</div>
                    <button id="deleteTODO" class="btn btn-sm btn-outline-danger col-2" ng-click="vm.deleteTodo(el)" style="border: 1px solid; border-color:#33568F">-</button>
                  </div>
                </div>
                <div id="editTODO"  ng-dblclick="vm.editItem(el)" class="card-body">
                  <p class="card-text">{{el.desc}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
      <script src='calendar/fullcalendar.js'></script>
      <script type="text/javascript" src="/lib/calendar.js"></script>
      
      <script src="/lib/angular-route.min.js"></script>
    <script src="/angular/straightas.min.js"></script>
    <script type="text/javascript" src="/calendar/main.min.js"></script>
      <script type="text/javascript" src="/calendar/gcal.js"></script>
</html>
