<div class="modal-content">
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class=" w-75" padding="" id="New notification" top="500px">
        <p class="header" >New notification</p>
        <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
        <hr/>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <textarea class="form-control" id="exampleTextarea" ng-model="vm.data.notification" rows="3"></textarea>
          </div>
        </form>
        <hr/>
        <div class="row">
          <div class="col-auto" id="Close">
            <button ng-click="vm.modalWin.close()" type="button" id class="btn btn-secondary ">Close</button>
          </div>
          <div class="col-auto"  id="Save">
            <button ng-click="vm.sendData()" type="button" class="btn btn-primary ">Save</button>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .header{
    font-size:25px
  }
</style>