<div class="modal-content">
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer" id="deleteButton">
    <button type="button" ng-click="vm.delteTodo()" data-dismiss="modal" class="btn btn-primary" id="deleteButtonDelete">Delete</button>
    <button type="button" ng-click="vm.modalWin.close()" data-dismiss="modal" class="btn" id="deleteButtonCancel">Cancel</button>
  </div>
</div>